*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #134B70;
    --sec-color: #508C9B;
    --bg-color: #EEEEEE;
    --txt-color: #31363F;
    --border-color: #000000;

    --hover-col: #E7F6F2;
    --hover-bg: #395B64;
}

body{
  font-family: 'Space Gerotesk', sans-serif;
  background-color: #EEEEEE;
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  /* padding: 0; */
  /* box-sizing: border-box; */

  a{
    text-decoration: none;
    color: var(--txt-color);

    &:hover{
      text-decoration: underline;
    }
  }
}
header{
  padding-top: 10px;
  padding-bottom: 2px;
  max-width: 1440px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.1);

  .logo-holder{
    display: flex;
    padding: 10px;
    align-items: center;
    /* font-weight: 700; */
    
    .logo{
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--border-color);
      font-weight: 700;

      font-size: 20px;
      margin-right: 20px;
      /* border-radius: 25%; */
      &:hover{
        text-decoration: none;
        /* color: var(--purple); */
      }
    }
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.3s all;
    /* padding: 10px; */

    ul{
      display: flex;
      list-style: none;
      padding: 0;
      gap: 5px;

      li{
        display: inline-block;
        margin-right: 20px;
        font-weight: 400;
        font-size: 20px;
        padding-top: 10px;

        a{
          padding: 10px 20px;
          &:hover{
            background-color: var(--hover-bg);
            text-decoration: none;
            color: var(--hover-col);
            border-radius: 10px;
          }
        }
      }
    }
    .toggle{
      display: none;
      color: var(--txt-color);
      padding: 10px;

      @media(max-width: 768px){
        display: inline-block;
        position: absolute;
        top: 2px;
        right: 20px;
      }
    }
  }
  @media(max-width: 1024px){
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 768px) {
    nav{
      ul{
        display: none;
         &.show{
          display: flex;
          flex-direction: column;
          /* align-items: center; */
          position: absolute;
          top: 60px;
          right: 0;
          background-color: var(--bg-color);
          border: 1px solid rgba(0,0,0,0.1);
          border-radius: 10px;
          z-index: 1;
          
          li{
            margin-right: 0;
            margin-bottom: 0;
            padding: 10px 20px;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}
.container{
  max-width: 1440px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 30px;

  @media(max-width: 1440px){
    padding-left: 30px;
    padding-right: 30px;
  }
}
.button{
  display: inline-block;
  padding: 10px 30px;
  background-color: var(--primary-color);
  color: var(--hover-col);
  border-radius: 10px;
  transition: ease 0.3s all;

  &:hover{
    background-color: var(--sec-color);
    text-decoration: none;
  }
  &.black{
    background-color: black;
    color: white;
    &:hover{
      background-color: var(--hover-col);
      color: black;
    }
  }
}
.hero{
  display: flex;
  /* align-items: center; */
  .cover-txt{
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .call-to-action{
      margin-top: 20px;
      margin-bottom: 10px;
      a{
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
    .social-links{
      a{
        &:hover{
          /* color: var(--primary-color); */
          text-decoration: none;
        }
      }
    }
  }
  .cover-img{
    flex: 1;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    margin-top: -30px;
    img{
      height: 400px;
      margin-top: -25px;
      margin-bottom: -20px;
      max-width: 420px;
      border-radius: 50vh;
    }
  }
}
.gradient-background {
    /* background: linear-gradient(300deg, #522258, #8C3061, #D95F59); */
    background: linear-gradient(300deg, #134B70, #508C9B, #EEEEEE);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  } 
  .subtitle{
    font-size: 25px;
  }
  .profilepic{
    height: 450px;
    border-radius: 50vh;
    /* margin-bottom: 20vh; */
  }
.text{
  text-align: justify;
  margin-top: 3vh;
}

#education{
    width: 70vh;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10vh;
}
.edu-title{
    font-size: 50px;
    font-weight: bolder;
    padding: 0;
    margin-bottom: 7vh;
}
.ins-title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1vh;
}
#dot{
  margin-top: 10px;
  margin-right: 40px;
}
.img-edu{
  display: grid;
  grid-row: 2 / span 3;
}
.skill-grid{
  display: grid;
  grid-template: 20% 20% 20% 20% 20%/ 20% 20%;
  row-gap: 30px;
  column-gap: 250px;
  margin-left: 50px;
  /* margin-right: 20px; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 10px;
}
.gif{
  height: 20vh;
  width: 20vh;
  border-radius: 20vh;
  align-items: start;
  border-color: #134B70;
  /* border-style:solid; */
}
.skillHeading{
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 10vh;
}
.About1{
  /* margin-left: 10px;
  margin-right: 10px; */
  align-items: center;
}
@media (max-width: 768px) {
  .skill-grid {
    grid-template: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0;
    column-gap: 150px;
  }
  #education {
    width: 100%;
  }
  .profilepic{
    height: 300px;
  }
  .gif{
    height: 15vh;
    width: 15vh;
  }
  /* .row.row-cols-1.mx-xxl-6.mx-3.mx-md-2.g-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
}

