.gradient-background {
    /* background: linear-gradient(300deg, #522258, #8C3061, #D95F59); */
    background: linear-gradient(300deg, #134B70, #508C9B, #EEEEEE);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  .subtitle{
    font-size: 25px;
  }
  .profilepic{
    height: 500px;
    border-radius: 50vh;
    /* margin-bottom: 20vh; */
  }
.text{
  text-align: justify;
  margin-top: 3vh;
}
#education{
    display: flex;
    width: 100vh;
    margin-left: 300px;
    margin-top: 100px;
}
/* .edu-container{
    display: grid;
    grid-template: 20% 20% 20% 20% 20% / 50% 50%;
    gap: 10px;
} */
.edu-title{
    font-size: 50px;
    font-weight: bolder;
    /* margin-bottom: 300px; */
}
.ins-title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1vh;
}
#dot{
  margin-top: 10px;
  margin-right: 30px;
}
.img-edu{
  display: grid;
  grid-row: 2 / span 3;
}
.skill-grid{
  display: grid;
  grid-template: 20% 20% 20% 20% 20%/ 20% 20%;
  row-gap: 30px;
  column-gap: 300px;
  margin-left: 50vh;
  margin-top: 10px;
}
.gif{
  height: 20vh;
  width: 20vh;
  border-radius: 20vh;
  align-items: start;
  border-color: #134B70;
  /* border-style:solid; */
}
.skillHeading{
  font-size: 50px;
  font-weight: bolder;
  margin-left: 300px;
  margin-bottom: 70px;
}
.About1{
  margin-left: 60px;
  margin-right: 60px;
  align-items: center;
}

