.gradient-background {
    /* background: linear-gradient(300deg, #522258, #8C3061, #D95F59); */
    background: linear-gradient(300deg, #134B70, #508C9B, #EEEEEE);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  .subtitle{
    font-size: 25px;
  }
  .profilepic{
    height: 450px;
    border-radius: 50vh;
    /* margin-bottom: 20vh; */
  }
.text{
  text-align: justify;
  margin-top: 3vh;
}
#education{
    width: 70vh;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10vh;
}
.edu-title{
    font-size: 50px;
    font-weight: bolder;
    padding: 0;
    margin-bottom: 7vh;
}
.ins-title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1vh;
}
#dot{
  margin-top: 10px;
  margin-right: 40px;
}
.img-edu{
  display: grid;
  grid-row: 2 / span 3;
}
.skill-grid{
  display: grid;
  grid-template: 20% 20% 20% 20% 20%/ 20% 20%;
  row-gap: 30px;
  column-gap: 250px;
  margin-left: 50px;
  /* margin-right: 20px; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 10px;
}
.gif{
  height: 20vh;
  width: 20vh;
  border-radius: 20vh;
  align-items: start;
  border-color: #134B70;
  /* border-style:solid; */
}
.skillHeading{
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 10vh;
}
.About1{
  /* margin-left: 10px;
  margin-right: 10px; */
  align-items: center;
}
@media (max-width: 768px) {
  .skill-grid {
    grid-template: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0;
    column-gap: 150px;
  }
  #education {
    width: 100%;
  }
  .profilepic{
    height: 300px;
  }
  .gif{
    height: 15vh;
    width: 15vh;
  }
  .row.row-cols-1.mx-xxl-6.mx-3.mx-md-2.g-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

